<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/icons.css">
  <title>Document</title>
</head>
<body>
    <h1>Bookshelf</h1>
    <h3><%= book.title %></h3>
    <h4><%= book.author %></h4>
    <p><%= book.description %></p>
    <p>ISBN: <%= book.isbn %></p>
    <p>Topic: <%= book.bookshelf %></p>

</body>
</html>